<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.store">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".Ui.LoginActivity"/>
        <activity android:name=".Ui.TrackingOrderActivity" />
        <activity android:name=".Ui.SignUpActivity" />
        <activity android:name=".Ui.MainActivity" />
        <activity android:name=".Ui.ConfirmOrderActivity" />
        <activity android:name=".Ui.CheckoutActivity" />
        <activity android:name=".Ui.ProductDetailsActivity" />
        <activity android:name=".Ui.CategoryResultsActivity" />
        <activity android:name=".Ui.SearchResultsActivity" />
        <activity android:name=".Ui.SplachScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>